USE [master]
GO
GO
EXEC xp_instance_regwrite N'HKEY_LOCAL_MACHINE', 
     N'Software\Microsoft\MSSQLServer\MSSQLServer',
     N'LoginMode', REG_DWORD, 1
GO
ALTER LOGIN [sa] WITH PASSWORD=N'demo!pass123'
GO
ALTER LOGIN [sa] ENABLE
GO
CREATE DATABASE [SmartHotel.Registration]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartHotel.Registration', FILENAME = N'F:\data\SmartHotel.Registration.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartHotel.Registration_log', FILENAME = N'G:\log\SmartHotel.Registration_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartHotel.Registration].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartHotel.Registration]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[From] [datetime] NOT NULL,
	[To] [datetime] NOT NULL,
	[CustomerId] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[Passport] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Amount] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Culture] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [From], [To], [CustomerId], [CustomerName], [Passport], [Address], [Amount], [Total], [Type], [Culture], [PhoneNumber]) VALUES (1, CAST(N'2021-07-26T00:00:00.000' AS DateTime), CAST(N'2021-07-30T00:00:00.000' AS DateTime), N'Cust-100', N'Isaac Jorba', N'818357333', N'501 Ucgaj Turnpike 38017', 3400, 0, N'CheckIn', N'es-US', NULL)
INSERT [dbo].[Bookings] ([Id], [From], [To], [CustomerId], [CustomerName], [Passport], [Address], [Amount], [Total], [Type], [Culture], [PhoneNumber]) VALUES (2, CAST(N'2021-07-26T00:00:00.000' AS DateTime), CAST(N'2021-07-30T00:00:00.000' AS DateTime), N'Cust-101', N'Bernabè Sannicolas', N'587597740', N'378 Bihdu Highway 91733', 1100, 0, N'CheckIn', N'en-us', NULL)
INSERT [dbo].[Bookings] ([Id], [From], [To], [CustomerId], [CustomerName], [Passport], [Address], [Amount], [Total], [Type], [Culture], [PhoneNumber]) VALUES (3, CAST(N'2021-07-26T00:00:00.000' AS DateTime), CAST(N'2021-07-27T00:00:00.000' AS DateTime), N'Cust-102', N'Rubèn Barri', N'287353229', N'1646 Oriro Loop 29550', 2200, 0, N'CheckIn', N'de-de', NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
USE [master]
GO
